In [1]:
import pandas as pd
import numpy as np 
import datetime

In [2]:
df = pd.read_csv('Updated_sales_data.csv')

In [3]:
# Finding any null values
df.isnull().sum()

Order ID            87
Product             87
Quantity Ordered    87
Price Each          87
Order Date          87
Purchase Address    87
dtype: int64

In [4]:
# df

In [5]:
# Removing the null values
cleaned = df.dropna().reset_index()

In [6]:
# cleaned.shape

In [7]:
cleaned.dtypes

index                int64
Order ID            object
Product             object
Quantity Ordered    object
Price Each          object
Order Date          object
Purchase Address    object
dtype: object

In [8]:
# There were duplicates columns names inside the rows, removing them.

# 1. create a Boolean mask for the rows to remove
mask = cleaned['Price Each'] == 'Price Each'

# 2. select all rows except the ones that contain 'Coca Cola'
cleaned = cleaned[~mask]

# 3. print the resulting DataFrame
# print(cleaned)

In [9]:
# Calculating total sales

cleaned['Quantity Ordered'] = cleaned['Quantity Ordered'].astype(int)
cleaned['Price Each'] = cleaned['Price Each'].astype(float)

cleaned['total_sales'] = cleaned['Quantity Ordered'] * cleaned['Price Each']

In [10]:
cleaned.dtypes

index                 int64
Order ID             object
Product              object
Quantity Ordered      int64
Price Each          float64
Order Date           object
Purchase Address     object
total_sales         float64
dtype: object

In [11]:
# removing duplicated indexes
cleaned.drop(columns=cleaned.columns[0], axis=1, inplace=True)

In [12]:
dates = pd.to_datetime(cleaned['Order Date'], format="mixed")
cleaned['Order Date'] = dates
# type(dates)

In [13]:
# creating columns for month and year

In [14]:
cleaned['Month'] = dates.dt.month
cleaned['Year'] = dates.dt.year

In [15]:
monthly_sales = cleaned.groupby(['Product', 'Year', 'Month'])['total_sales'].sum().reset_index()
total_sales_by_product = pd.DataFrame(monthly_sales)
# total_sales_by_product

In [22]:
# cleaned['total_sales'].sum()
cleaned.dtypes
# total_sales_by_product

Order ID                    object
Product                     object
Quantity Ordered             int64
Price Each                 float64
Order Date          datetime64[ns]
Purchase Address            object
total_sales                float64
Month                        int32
Year                         int32
dtype: object

In [ ]:
# total_sales_by_product.sum()

In [ ]:
# saving the file in the same working directory
cleaned.to_csv('cleaned_data.csv')
total_sales_by_product.to_csv('products_sale_by_month.csv')