In [88]:
import pandas as pd

In [89]:
df = pd.read_csv('Updated_sales_data.csv')

In [90]:
df.isnull().sum()

Order ID            87
Product             87
Quantity Ordered    87
Price Each          87
Order Date          87
Purchase Address    87
dtype: int64

In [31]:
df

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001"
1,NaN,NaN,NaN,NaN,NaN,NaN
2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215"
3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001"
...,...,...,...,...,...,...
30389,248146,Bose SoundSport Headphones,1,99.99,08/29/19 22:19,"868 Hickory St, San Francisco, CA 94016"
30390,248147,AAA Batteries (4-pack),3,2.99,08/31/19 16:26,"206 Lakeview St, Boston, MA 02215"
30391,248148,AA Batteries (4-pack),1,3.84,08/02/19 07:25,"568 13th St, Seattle, WA 98101"
30392,248149,USB-C Charging Cable,1,11.95,08/08/19 12:10,"495 Walnut St, San Francisco, CA 94016"
30393,248150,AA Batteries (4-pack),1,3.84,08/16/19 08:13,"738 Park St, Los Angeles, CA 90001"

In [94]:
cleaned = df.dropna().reset_index()

In [95]:
cleaned.shape

(30307, 7)

In [66]:
cleaned.dtypes

index                int64
Order ID            object
Product             object
Quantity Ordered    object
Price Each          object
Order Date          object
Purchase Address    object
total_sales         object
dtype: object

In [78]:
# cleaned.tail(10)

In [97]:
cleaned.shape

(30307, 7)

In [105]:
# create a Boolean mask for the rows to remove
mask = cleaned['Price Each'] == 'Price Each'

# select all rows except the ones that contain 'Coca Cola'
cleaned = cleaned[~mask]

# print the resulting DataFrame
print(cleaned)

       index Order ID                     Product Quantity Ordered Price Each  \
0          0   176558        USB-C Charging Cable                2      11.95
1          2   176559  Bose SoundSport Headphones                1      99.99
2          3   176560                Google Phone                1        600
3          4   176560            Wired Headphones                1      11.99
4          5   176561            Wired Headphones                1      11.99
...      ...      ...                         ...              ...        ...
30302  30389   248146  Bose SoundSport Headphones                1      99.99
30303  30390   248147      AAA Batteries (4-pack)                3       2.99
30304  30391   248148       AA Batteries (4-pack)                1       3.84
30305  30392   248149        USB-C Charging Cable                1      11.95
30306  30393   248150       AA Batteries (4-pack)                1       3.84

           Order Date                         Purchase Address
0      04/19/19 08:46             917 1st St, Dallas, TX 75001
1      04/07/19 22:30        682 Chestnut St, Boston, MA 02215
2      04/12/19 14:38     669 Spruce St, Los Angeles, CA 90001
3      04/12/19 14:38     669 Spruce St, Los Angeles, CA 90001
4      04/30/19 09:27        333 8th St, Los Angeles, CA 90001
...               ...                                      ...
30302  08/29/19 22:19  868 Hickory St, San Francisco, CA 94016
30303  08/31/19 16:26        206 Lakeview St, Boston, MA 02215
30304  08/02/19 07:25           568 13th St, Seattle, WA 98101
30305  08/08/19 12:10   495 Walnut St, San Francisco, CA 94016
30306  08/16/19 08:13       738 Park St, Los Angeles, CA 90001

[30246 rows x 7 columns]

In [109]:
# cleaned.to_csv('cleaned_data.csv')

In [117]:
# cleaned['Quantity Ordered'].astype(int)


cleaned['total_sales'] = cleaned['Quantity Ordered'].astype(int) * cleaned['Price Each'].astype(float)

In [118]:
cleaned

,index,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address,total_sales
0,0,176558,USB-C Charging Cable,2,11.95,04/19/19 08:46,"917 1st St, Dallas, TX 75001",23.90
1,2,176559,Bose SoundSport Headphones,1,99.99,04/07/19 22:30,"682 Chestnut St, Boston, MA 02215",99.99
2,3,176560,Google Phone,1,600,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001",600.00
3,4,176560,Wired Headphones,1,11.99,04/12/19 14:38,"669 Spruce St, Los Angeles, CA 90001",11.99
4,5,176561,Wired Headphones,1,11.99,04/30/19 09:27,"333 8th St, Los Angeles, CA 90001",11.99
...,...,...,...,...,...,...,...,...
30302,30389,248146,Bose SoundSport Headphones,1,99.99,08/29/19 22:19,"868 Hickory St, San Francisco, CA 94016",99.99
30303,30390,248147,AAA Batteries (4-pack),3,2.99,08/31/19 16:26,"206 Lakeview St, Boston, MA 02215",8.97
30304,30391,248148,AA Batteries (4-pack),1,3.84,08/02/19 07:25,"568 13th St, Seattle, WA 98101",3.84
30305,30392,248149,USB-C Charging Cable,1,11.95,08/08/19 12:10,"495 Walnut St, San Francisco, CA 94016",11.95
30306,30393,248150,AA Batteries (4-pack),1,3.84,08/16/19 08:13,"738 Park St, Los Angeles, CA 90001",3.84